.Sidebar {
  max-width: 250px;
  height: 100%;
  position: fixed;
}
.Sidebar-avator {
  padding: 0px;
  border-radius: 50%;
  width: 100%;
  height: auto;
  margin: 16px auto;
}

@media screen and (max-width: 991px) {
  .Sidebar {
    position: static;
    min-width: 100%;
    margin: 0 auto !important;
    top: 100%;
    border: none;
  }
}
